<StackLayout id="home-main-slider">
    <slides #slides [loop]="true" (tap)="onTap($event)" (changed)="onSlideChanged($event)" [pageIndicators]="true">
        <slide *ngFor="let element of elements" class="">
            <Image src="{{ element.image }}" stretch="aspectFill" horizontalAlignment="center"></Image>
        </slide>
    </slides>
</StackLayout>