<StackLayout id="filter-modal" verticalAlignment="top" horizontalAlignment="center">
  
  <StackLayout id="top" orientation="horizontal" verticalAlignment="top">
      <Label
        class="fa"
        [text]="'fa-times' | fonticon"
        horizontalAlignment="left"
        (tap)="close()"
        *ngIf="!showFilterOptions"></Label>
      <Label
        class="fa" [text]="'fa-arrow-left' | fonticon"
        (tap)="hideOptions()"
        *ngIf="showFilterOptions"></Label>
      <Label [text]='showingFilterHeading'></Label>
      <Label text="Изтрий филтрите" horizontalAlignment="right"></Label>   
  </StackLayout>

  <ScrollView orientation="vertical">
  	<StackLayout orientation="vertical" class="filter-list" *ngIf="!showFilterOptions">
  		<Label text="Марки" class="filter-name" (tap)="displayFilterOptions('manufacturers')"></Label>
  		<Label text="Цена" class="filter-name" (tap)="displayFilterOptions('price')"></Label>
  		<Label text="Ароматни групи" class="filter-name" (tap)="displayFilterOptions('aromatic-groups')"></Label>
  		<Label text="Още филтри" class="filter-name" (tap)="displayFilterOptions('more')"></Label>
  	</StackLayout>

  	<!-- MANUFACTURERS OPTION -->
  	<StackLayout *ngIf="showingFilterName == 'manufacturers'">
  		<StackLayout orientation="vertical" class="filter-options" *ngFor="let manufacturer of manufacturers" #manufacturersOptions>
	  		<CheckBox [text]="manufacturer.name"></CheckBox>
	  	</StackLayout>	
  	</StackLayout>
  	
  	<!-- PRICE OPTIONS -->
  	<StackLayout orientation="vertical" class="filter-options" *ngIf="showingFilterName == 'price'">
  		<CheckBox text="10лв. - 25лв." checked="true" boxType="circle"></CheckBox>
  		<CheckBox text="25лв. - 50лв." checked="false" boxType="circle"></CheckBox>
  		<CheckBox text="50лв. - 75лв." checked="false" boxType="circle"></CheckBox>
  		<CheckBox text="100лв. - 125лв." checked="false" boxType="circle"></CheckBox>
  		<CheckBox text="125лв. - 150лв." checked="false" boxType="circle"></CheckBox>
  		<CheckBox text="150лв. - 300лв." checked="false" boxType="circle"></CheckBox>
  	</StackLayout>

  	<!-- AROMATIC GROUPS OPTIONS -->
  	<StackLayout *ngIf="showingFilterName == 'aromatic-groups'">
  		<StackLayout orientation="vertical" class="filter-options" *ngFor="let aGroup of aromaticGroups">
  			<CheckBox [text]="aGroup.name"></CheckBox>
  		</StackLayout>	
  	</StackLayout>

  	<!-- MORE OPTIONS -->
  	<StackLayout orientation="vertical" class="filter-options" *ngIf="showingFilterName == 'more'">
  		<Label text="Намаления"></Label>
  		<Label text="Най-новите"></Label>
  		<Label text="В наличност"></Label>
  		<Label text="Най-продавани"></Label>
  	</StackLayout>

  </ScrollView>

</StackLayout>



  		
