<StackLayout>
    <ListView [items]="categories" class="categories-list visible" #CategoryList>
        <ng-template let-item="item">
            <StackLayout class="category" (tap)="onCategoryTap(item)">
            	<StackLayout orientation="horizontal">
            		<Label class="category-icon fa" [text]="'fa-random' | fonticon"></Label>
                	<Label [text]="item.name"></Label>	
            	</StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>