<StackLayout id="search-modal">
  <GridLayout id="top" orientation="horizontal" verticalAlignment="top" columns="30,*,30">
  	<Button class="fa" [text]="'fa-arrow-left' | fonticon" horizontalAlignment="left" row="0" col="0"></Button>
  	<TextField hint="Търси" row="0" col="1" id="searchInput"></TextField>
  	<Button class="fa" [text]="'fa-search' | fonticon" horizontalAlignment="right" row="0" col="2"></Button>
  </GridLayout>
</StackLayout>