<StackLayout id="register-wrapper">
	<StackLayout id="register">
		<Label text="Използвай имейл адрес:"></Label>
		<TextField id="emailTextField" [(ngModel)]="email" hint="Имейл:"></TextField>
		<TextField id="passwordTextField" [(ngModel)]="password" hint="Парола:" secure="true"></TextField>
		<Button (tap)="loginWithEmailAndPassword()" text="Вход"></Button>

		<Label text="{{ error_email }}"></Label>
		<Label text="{{ error_password }}"></Label>
		<Label text="{{ error_login }}"></Label>
	</StackLayout>	
</StackLayout>
