<ActionBar title="SubCategories">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem text="Search"></ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>

<StackLayout>
    <ListView
        [items]="selectedCategoryChildrens"
        class="categories-list visible">
        <ng-template let-item="item">
            <StackLayout class="category" (tap)="onCategoryTap(item)">
                <StackLayout orientation="horizontal">
                    <Label class="category-icon fa" [text]="'fa-random' | fonticon"></Label>
                    <Label [text]="item.name"></Label>    
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>