/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

ActionBar {
    background-color: #666;
    color: white;
}

.drawer-content {
    background-color: #eeeeee;
    color: black;
}

.drawer-content .drawer-header {
    height: 150;
    background-color: #666;
    margin-bottom: 7;
}

.drawer-content .drawer-links .drawer-link {
    font-size: 15;
    padding: 15;
}

.drawer-content .drawer-links .drawer-link .fa {
    font-size: 20;
    margin-right: 10;
}

.drawer-content .drawer-links .drawer-link .text {
    margin-left: 30;
}

.drawer-content .drawer-links .current {
    background-color: #dddddd;
}

.drawer-content .drawer-separator {
    height: 1;
    background-color: #dddddd;
    margin: 7 0;
}

.todo-next {
    padding: 20;
}

.todo-next > Button {
    font-size: 24;
}

.todo-next > Button.disabled {
    color: #999999;
}

.todo-filter {
    padding: 20;
}

.todo-filter > Label {
    text-align: center;
}

.todo-filter > Label.active {
    color: #19469D;
    font-weight: bold;
}

.todo-item {
    margin: 20 20 0 20;
    padding: 10;
    font-size: 20;
}

.todo-item .done {
    text-decoration: line-through;
}

.checkbox {
    width: 22;
    height: 22;
    margin: 0 10 0 0;
    horizontal-align: left;
}

@keyframes glow {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #eeeeee;
    }
}

.anim {
    animation-name: glow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*  
    0.Globals
    1.Navigation
    2.Home
    3.Categories
    4.Product
    5.Checkout
    6.Account
    7.Login
    8.Register
*/

/*------------------------------------------------------------------------------*/
/* CUSTOM */
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/
/* GLOBALS */
/*------------------------------------------------------------------------------*/
*{
    font-size: 16px;
}

TextView,
Label{
    color: #000;
}

.page-wrapper{
    margin: 0 10px;
}

TextView{
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
}


/* Horizontal Product List */
/*-----------------------------------------*/
.product-list-heading{
    font-size: 22px;
    margin:0 10px 20px 10px;
    background-color: #fff;
}

.product-list-heading-line{
    height: 2px;
    background-color: #ddd;
    margin-top: -50px;
    margin-bottom: 50px;
    width: 50%;
}

.horizontal-product-list{
    margin: 0 10px 20px 10px;
}
    .horizontal-product-list .product-item{
        width: 370px;
        margin: 0 20px;
        padding: 30px 0px;
        border-width: 1px;
        border-color: #aaa;
        border-radius: 10px;
    }

        .horizontal-product-list .product-item Image{
            width: 250px;
            height: 250px;
        }

        .horizontal-product-list .product-item .name{
            text-align: center;
            margin-bottom: 0;
        }

        .horizontal-product-list .product-item .price{
            text-align: center;
            font-weight: bold;
        }


/* Slides indicators */
/*-----------------------------------------*/
.slide-indicator-inactive{
    background-color: #fff;
    opacity : 0.4;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}
 
.slide-indicator-active{
    background-color: #fff;
    opacity : 0.9;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}        


/* Animation */
/*-----------------------------------------*/
.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*------------------------------------------------------------------------------*/
/* 1.NAVIGATION */
/*------------------------------------------------------------------------------*/
.nav-action-btn{
    width: 140px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 9999;
}

/* Navigation side menu */
/*-----------------------------------------*/
.drawer-bottom-links{
    border-top-width: 1px;
}

    .drawer-bottom-links Label{
        padding: 20px 0 20px 40px;
    }


/* Navigation search modal */
/*-----------------------------------------*/
#search-modal #top{
    height: 140px;
}   
    #search-modal #searchInput{
        margin: 0;
        padding: 0;
    }

    #search-modal #top Button{
        margin: 0;
        padding: 0;
        font-size: 20px;
        background-color: transparent;
        border-color: transparent;
        border-width: 1;
    }    

/*------------------------------------------------------------------------------*/
/* 2.HOME */
/*------------------------------------------------------------------------------*/

/* Home slider */
/*-----------------------------------------*/
#home-main-slider{
    height:350px;
    margin-bottom: 20px;
}
    #home-main-slider Image{
        width: 100%;
        height:350px;
    }



/* Home top boxes*/
/*-----------------------------------------*/
#home-top-boxes Button{
    width: 25%;
}

/* Home search by category button */
/*-----------------------------------------*/
#search-by-cat-btn{
    margin: 30px 10px 30px 10px;
    border-radius: 0;
    color: #fff;
}


/*------------------------------------------------------------------------------*/
/* 3.CATEGORY PAGE */
/*------------------------------------------------------------------------------*/

/* Categories list */
/*-----------------------------------------*/
.categories-list .category{
    padding: 40px 20px;
}

.category-icon{
    margin-top: 10px;
    margin-right: 20px
}

/* Category filter */
/*-----------------------------------------*/
#category-filters{
    z-index: 1 ;
    background-color: #ddd;
    padding: 20px;
}

    #category-filters .filter{
        width:33%;
    }

        #category-filters .filter #view-change-icon{
            font-size: 32px;
            margin-top: 10px;        
        }

.filter-dropdown{
    width: 450px;
    padding: 10px 20px;
    margin-bottom: -195px;
    background-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #666;
    border-radius:10px;
}
    .filter-dropdown Label{}


/* Category filter modal */
/*-----------------------------------------*/
#filter-modal{  
    border-radius: 30px;
}   
    #filter-modal #top{
        padding: 40px 20px;
        width: 100%;
    }
        #filter-modal #top Label{
            padding: 10px;
        }

    #filter-modal #top .fa{
        margin-top: 10px;
        font-size: 20px;
    }

    #filter-modal .filter-list
    #filter-modal .filter-options{
        background-color: #ddd;
    }

        #filter-modal .filter-list .filter-name,
        #filter-modal .filter-options Label{
            padding: 40px 20px;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #fff;
        }



/* Category products */
/*-----------------------------------------*/
.category-products-list{
    padding: 15px;  
    z-index: 1;  
}
    .category-products-list .category-product{
        padding: 50px 20px;
        margin-bottom: 30px;
        border-width: 1px;
        border-color: #aaa;
    }
        .category-products-list .category-product Image{
            height: 250px;
            width: 250px;
        }

.category-products-block{
    margin-top: 15px;
}
    .category-products-block .category-product-wrap{
        padding: 0 20px;
        margin-bottom: 35px;
    }
        
        .category-products-block .category-product-wrap .category-product{
           text-align: center;
           border-width: 1px;
           border-color: #aaa;
           padding: 30px;
        }  
            .category-products-block .category-product Image{
                height: 275px;
                width: 275px;
            }

            .category-products-block .category-product TextView{
                margin-bottom: 0;
            }

/*------------------------------------------------------------------------------*/
/* 4.PRODUCT PAGE */
/*------------------------------------------------------------------------------*/

/* Product image */
/*-----------------------------------------*/
#product-images{
    margin-top: 30px;
    height: 550px;   
}
    #product-images-slider{
        
        background-color: red;   
    }
        #product-images Image{
            height: 500px;
        }

/* Product name and price */
/*-----------------------------------------*/
#product-name-and-price{
    border-bottom-width: 1px;
    padding-bottom: 30px;
    background-color: #fff;
}
    #product-name-and-price .product-price{
        margin-top: 32px;
    }   

/* Product rating and stock */
/*-----------------------------------------*/
#product-rating-and-stock{
    padding: 30px 0;
}
    #product-rating-and-stock .fa{
        font-size: 20px;
        margin-right: 15px;
    }

/* Product description */
/*-----------------------------------------*/
#product-description TextView{
    background-color: transparent;
    background-color: transparent;
    margin-bottom: 20px;
}

/* Product category */
/*-----------------------------------------*/
#product-category{
    margin-bottom: 70px;
}

/* Product additional buttons */
/* Favorite/Share/Compare */
/*-----------------------------------------*/
#product-additional-buttons{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #666;
    padding: 40px 0;
    width: 100%;
    margin-bottom: 50px;
}
    #product-additional-buttons .product-add-btn{
        margin: 0 40px;
        font-size: 25px;
    }

/* Product qty buttons */
/*-----------------------------------------*/
#product-qty-buttons{
    margin-bottom: 20px;
}
    #product-qty-buttons Button{
        height: 150px;
        width: 150px;
    }

    #qty-input{
        height: 124px;
        width: 125px;
        margin-top: 4px;
        text-align: center;
        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #666;
        border-radius: 10px;
    }

/* Product add to cart button */
/*-----------------------------------------*/
#add-to-cart-button{
    margin-bottom: 40px;
    border-radius: 0;
}

#product-delivery-info{
    margin-bottom: 40px;
    border-bottom-width: 1px;
}

/*------------------------------------------------------------------------------*/
/* 5.CHECKOUT */
/*------------------------------------------------------------------------------*/

/* Checkout products list */
/*-----------------------------------------*/
#checkout-products-list{
    margin-top: 20px;
}
    #checkout-products-list .checkout-product{
        padding: 40px 20px;
        margin-bottom: 30px;
        border-width: 1px;
        border-color: #aaa;
        border-radius: 5px;
    }   

        .checkout-product-image{
            margin-right: 10px;
        }

        .checkout-product-name{
            color: #000; 
        }

        .checkout-product-amount{
            color: #000;
        }

        .checkout-product-price{
            color: #000;
        }

/* Checkout total costs */
/*-----------------------------------------*/
#checkout-total-costs{
    background-color: #eee;
    margin-bottom: 50px;
    padding: 40px 20px;    
}

    #checkout-total-costs Label{
        margin-bottom: 30px;
    }

/* Checkout delivery address */
/*-----------------------------------------*/
#checkout-delivery-address{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
}   
    .checkout-delivery-address-heading{
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    #checkout-delivery-address .fa-pencil{
       /*TODO*/
    }
/* Checkout delivery method */
/*-----------------------------------------*/
#checkout-delivery-method{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
}
    .checkout-delivery-method-heading{
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }

/* Checkout payment method */
/*-----------------------------------------*/
#checkout-payment-method{
    margin-bottom: 0px;
}   
    #checkout-payment-method Label{
        margin-left: 10px;
    }

    .checkout-payment-method-heading{
        margin-bottom: 5px;
        font-size: 20px;
    }

/* Checkout terms */
/*-----------------------------------------*/
#checkout-terms{
    margin-bottom: 40px;
}

    .checkout-terms-checkbox{
        
    }


/*------------------------------------------------------------------------------*/
/* 6.ACCOUNT */
/*------------------------------------------------------------------------------*/
#account-banner{
    height: 300px;
    background-color: #ddd;
}

#account-list Label{
    border-bottom-width: 1px;
    border-color: #000;
    padding: 30px 0 30px 15px;
}

/*------------------------------------------------------------------------------*/
/* 7.Login */
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/
/* 8.Register */
/*------------------------------------------------------------------------------*/
#register-wrapper{
    padding: 5px;
}
    #register{
        background-color: #eee;
        padding: 20px 0;
    }