<ScrollView orientation="vertical" class="page-wrapper">

	<StackLayout orientation="vertical">
   		
		<StackLayout id="checkout-products-list">
			<StackLayout class="checkout-product" *ngFor="let product of cartProducts">
				<GridLayout columns="*,2*" rows="2*,3*">
					<Image
						src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg" 
						horizontalAlignment="left"
						verticalAlignment="top"
						col="0"
						row="0"
						rowSpan="2"
						class="checkout-product-image">		
					</Image>		
					<TextView
						editable="false"
						[text]="'Karl Lagerfeld Bois de Vetiver EDT 100ml за Мъже БЕЗ ОПАКОВКА'"
						col="1"
						row="0"
						class="checkout-product-name"></TextView>
					<Label
						[text]="'Количество: ' + product.quantity"
						col="1"
						row="1"
						verticalAlignment="bottom"
						class="checkout-product-amount"></Label>
					<Label
						[text]="'Цена: 106.00 лв.'"
						col="2"
						row="1"
						horizontalAlignment="right"
						verticalAlignment="bottom"
						class="checkout-product-price"></Label>
				</GridLayout>
			</StackLayout>
		</StackLayout>

		<StackLayout id="checkout-total-costs">
			<GridLayout columns="*,2*" rows="2*,3*">
				<Label text="Междинна сума:" row="0" col='0'></Label>
				<Label text="Цена" row="0" col='1' horizontalAlignment="right"></Label>
				<Label text="Общо:" row="1" col='0'></Label>
				<Label text="Цена" row="1" col='1' horizontalAlignment="right"></Label>
			</GridLayout>
		</StackLayout>

		<StackLayout id="checkout-delivery-address">
			<Gridlayout columns="*,2*" rows="2*,3*">
				<Label
					text="Адрес за доставка"
					row="0"
					col="0"
					colSpan="2"
					class="checkout-delivery-address-heading"></Label>
				<Label 
					class="fa" [text]="'fa-pencil' | fonticon" 
					verticalAlignment="top"
					horizontalAlignment="right"
					row="1"
					rowSpan="2"
					col='1'></Label>
				<TextView
					editable="false"
					text="Пловдив, 4000 бла бла бла бла бла 79"
					row="1"
					col="0"
					colSpan="2">
				</TextView>
			</Gridlayout>
			
		</StackLayout>

		<StackLayout id="checkout-delivery-method">
			<Label text="Метод на доставка" class="checkout-delivery-method-heading"></Label>
			<CheckBox
				#DeliveryMethod
				text="Стандартна доставка до адрес:4.00лв"
				checked="false"
				fillColor="#624099"></CheckBox>
			<CheckBox 
				#DeliveryMethod
				text="Доставка до офис на Еконт:4.00лв"
				checked="false"
				fillColor="#624099"></CheckBox>
		</StackLayout>

		<StackLayout id="checkout-payment-method">
			<Label text="Начин на плащане" class="checkout-payment-method-heading"></Label>
			<Label text="Плащане при доставка(наложен платеж)"></Label>
		</StackLayout>

		<StackLayout id="checkout-terms">
			<GridLayout columns="30,2*">
				<CheckBox
					#Terms
					text=""
					checked="false"
					fillColor="#624099"
					class="checkout-terms-checkbox"
					row="0"
					col="0"
					></CheckBox>
					<TextView
						text="Прочетох и съм съгласен с Общите условия за ползване"
						row="0"
						col="1"></TextView>	
			</GridLayout>
			
		</StackLayout>

		<StackLayout id="checkout-finish-order">
			<Button text="Изпрати поръчка"></Button>
		</StackLayout>

	</StackLayout>

</ScrollView>
