<ActionBar title="Account Orders">
    <NavigationButton text="Back" icon="res://ic_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>

<ScrollView orientation="vertical">
    <!-- 
        <ListView [items]="orders" (itemTap)="openOrder($event)">
        <ng-template let-item="order">
            <StackLayout>
                <Label [text]='order.total'></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    -->
</ScrollView>