<ActionBar>
	<StackLayout orientation="horizontal"
	    ios:horizontalAlignment="center"
	    android:horizontalAlignment="left">
	    <Image src="" class="action-image"></Image>
	    <Label text="ativeScript"  class="action-label"></Label>
  	</StackLayout>

    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem android.position="actionBar" (tap)="onSearchTap()">
    	<Button class="nav-action-btn nav-search fa" [text]="'fa-search' | fonticon"></Button>
    </ActionItem>
    <ActionItem>
    	<Button class="nav-action-btn nav-heart fa" [text]="'fa-heart' | fonticon"></Button>
    </ActionItem>
    <ActionItem [nsRouterLink]="['/checkout']">
    	<Button class="nav-action-btn nav-cart fa" [text]="'fa-shopping-cart' | fonticon"></Button>
    </ActionItem>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>


<ScrollView orientation="vertical" setVerticalScrollBarEnabled="false">
	<StackLayout orientation="vertical">

		<!-- SLIDER -->
		<slider-component></slider-component>


	    <!-- HOME BOXES -->
	    <boxes></boxes>
	    
	    <!-- Search by category button -->
	    <StackLayout>
			<Button [nsRouterLink]="['/categories']" text="Търси по категория" id="search-by-cat-btn"></Button>
	    </StackLayout>

	    <!-- PRODUCTS -->

	    <!-- NEW PRODUCTS -->
	    <StackLayout class="horizontal-product-list">
	      	<Label text="Нови продукти" class="product-list-heading"></Label>
	      	<Label class="product-list-heading-line" horizontalAlignment="right"></Label>
	        <ScrollView orientation="horizontal">
	            <StackLayout orientation="horizontal" class="scroll-menu">
            		<StackLayout 
            			class="scroll-pane product-item"
            			*ngFor="let product of newProducts"
            			(tap)="onProductTap(product.id)"
            			>
            			<Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg" horizontalAlignment="center"></Image>
                    	<TextView editable="false" [text]="'Karl Lagerfeld Bois de Vetiver EDT 100ml...'" class="name"></TextView>
                    	<Label text="53.00лв." class="price"></Label>
                	</StackLayout>
	            </StackLayout>
	        </ScrollView> 
	    </StackLayout>

	    <!-- SALE PRODUCTS -->
	    <StackLayout class="horizontal-product-list">
	      <!-- This is where the magic happens -->
	      	<Label text="Промоции" class="product-list-heading"></Label>
	      	<Label class="product-list-heading-line" horizontalAlignment="right"></Label>
	        <ScrollView orientation="horizontal">
	            <StackLayout orientation="horizontal" class="scroll-menu">
	                <StackLayout 
	                	class="scroll-pane product-item"
	                	*ngFor="let product of saleProducts"
	                	(tap)="onProductTap(product.id)">
	                    <Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg" horizontalAlignment="center"></Image>
                    	<TextView editable="false" [text]="'Karl Lagerfeld Bois de Vetiver EDT 100ml...'" class="name"></TextView>
                    	<Label text="53.00лв." class="price"></Label>                  
	                </StackLayout>
	            </StackLayout>
	        </ScrollView> 
	    </StackLayout>

	</StackLayout>
</ScrollView>





        
