<ActionBar title="Categories">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem text="Search"></ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>


<StackLayout>	
	<!-- Filters -->
	<StackLayout orientation="horizontal" id="category-filters">
		<StackLayout class="filter" (tap)="openFilterModal()">
			<Label text="Филтър"></Label>
			<Label text="125 продукта"></Label>
		</StackLayout>
		<StackLayout class="filter">
			<Label text="Подреди по" (tap)="toggleFilterDropdown()"></Label>
			<Label text="Най-продавани"></Label>
		</StackLayout>
		<StackLayout class="filter">
			<Label
				*ngIf="gridView === 'list'"
				id="view-change-icon" 
				class="fa" [text]="'fa-th-large' | fonticon"
				horizontalAlignment="right"
				(tap)="changeGridView()"
				></Label>

			<Label
				*ngIf="gridView !== 'list'"
				id="view-change-icon" 
				class="fa" [text]="'fa-th-list' | fonticon"
				horizontalAlignment="right"
				(tap)="changeGridView()"
				></Label>
		</StackLayout>
	</StackLayout>

<!-- Filter Dropdown -->
<StackLayout
	class="filter-dropdown"
	*ngIf="filterDropdown"
	style="z-index: 2;" >
	<StackLayout  >
		<Label text="Най-продавани" (tap)="onFilterChange()"></Label>
		<Label text="Най-нови" (tap)="onFilterChange()"></Label>
		<Label text="Най-разглеждани" (tap)="onFilterChange()"></Label>
	</StackLayout>	
</StackLayout>
	
	<!-- Product List -->
	<ScrollView orientation="vertical" class="page-wrapper">
		
		<StackLayout class="category-products-list" *ngIf="gridView === 'list'">
			<StackLayout
			 class="category-product"
			 *ngFor="let product of products"
			 (tap)="onProductTap(product)">
				<GridLayout columns="*,2*" rows="2*,3*">
					<Image
						src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg" 
						horizontalAlignment="left"
						verticalAlignment="middle"
						col="0"
						row="0"
						rowSpan="2">		
					</Image>
					<TextView
						editable="false"
						[text]="'Karl Lagerfeld Bois de Vetiver EDT 100ml за Мъже БЕЗ ОПАКОВКА'"
						col="1"
						row="0"
						verticalAlignment="top"></TextView>
					<Label text="В наличност" col="1" row="1" verticalAlignment="bottom"></Label>
					<Label
						[text]="'Цена: 106.00 лв.'"
						col="2"
						row="1"
						horizontalAlignment="right"
						verticalAlignment="bottom"></Label>
				</GridLayout>	
			</StackLayout>
		</StackLayout>

		<StackLayout class="category-products-block" *ngIf="gridView !== 'list'">
			<WrapLayout orientation="horizontal" width="100%">
			    <StackLayout
			    	orientation="vertical"
			    	class="category-product-wrap"
			    	*ngFor="let product of products"
			    	width="50%"
			    	(tap)="onProductTap(product)">

			    	<StackLayout class="category-product">
			    		<Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg"></Image>
						<TextView
							editable="false"
							[text]="'Karl Lagerfeld Bois de Vetiver EDT 100ml за ...'"></TextView>
						<Label text="В наличност"></Label>
						<Label
							[text]="'Цена: 106.00 лв.'"></Label>
			    	</StackLayout>
			    	
			    </StackLayout>
			</WrapLayout>
		</StackLayout>


	</ScrollView>

</StackLayout>





	
