<ActionBar title="Account Edit">
    <NavigationButton text="Back" icon="res://ic_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout padding="40">
    <TextField [(ngModel)]='customer.firstname' text="{{ customer.firstname }}" ></TextField>
    <Label text="{{error.firstname}}"></Label>
    
    <TextField [(ngModel)]='customer.lastname' text="{{ customer.lastname }}"></TextField>
    <Label text="{{error.lastname}}"></Label>

    <TextField [(ngModel)]='customer.email' text="{{ customer.email }}"></TextField>
    <Label text="{{error.email}}"></Label>

    <TextField [(ngModel)]='customer.telephone' text="{{ customer.telephone }}"></TextField>
    <Label text="{{error.telephone}}"></Label>
    
    <TextField [(ngModel)]='customer.fax' text="{{ customer.fax }}"></TextField>
    <Label text="{{error.fax}}"></Label>

    <Button (tap)="editCustomer()" text="Save"></Button>
</StackLayout>