<ActionBar title="Home">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem text="Account Dashboard Page"></ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>

<ScrollView orientation="vertical" class="page-wrapper">
    <StackLayout>
        <StackLayout id="account-banner">
            <Label text="banner"></Label>   
        </StackLayout>

        <StackLayout id="account-list">
            <Label text="Редакция на профила" [nsRouterLink]="['/account/edit']" class="link"></Label>
            <Label text="Найстройка на любими"></Label>
            <Label text="История на поръчките" [nsRouterLink]="['/account/orders']" class="link"></Label>
            <Label text="Настройки на акаунта"></Label>
            <Label text="Адрес за доставка" [nsRouterLink]="['/account/addresses']" class="link"></Label>
        </StackLayout>    
    </StackLayout>
</ScrollView>
