<StackLayout id="productImage-modal" verticalAlignment="middle">
   <slides #slides>
          <slide class="slide-1">
              <Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg"></Image>
          </slide>
          <slide class="slide-2">
              <Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg"></Image>
          </slide>
          <slide class="slide-3">
             <Image src="~/images/Karl-Lagerfeld-Bois-de-Vetiver-Tester.jpg"></Image>
          </slide>
    </slides>
</StackLayout>



  		
