<StackLayout orientation="horizontal" id="home-top-boxes">
    <Button text="Икона + текст"></Button>
    <Button text="Икона + текст"></Button>
    <Button text="Икона + текст"></Button>
    <Button text="Икона + текст"></Button>
</StackLayout>